<fs-examples title="Input" githubUrl="https://github.com/Firestitch/fs-input">
  <fs-example title="Single Line Input" componentName="single-line">
    <single-line></single-line>
  </fs-example>

  <fs-example title="Single Line Input with Hint" componentName="single-line-hint">
    <single-line-hint></single-line-hint>
  </fs-example>

  <fs-example title="Single Line Input with Icon" componentName="single-line-icon">
    <single-line-icon></single-line-icon>
  </fs-example>

  <fs-example title="Single Line Input with Prefix and Suffix" componentName="single-line-pre-suffix">
    <single-line-pre-suffix></single-line-pre-suffix>
  </fs-example>

  <fs-example title="Disabled Single Line Input" componentName="single-line-disabled">
    <single-line-disabled></single-line-disabled>
  </fs-example>

  <fs-example title="Single Line Input with Debounce" componentName="single-line-debounce">
    <single-line-debounce></single-line-debounce>
  </fs-example>

  <fs-example title="Single Line with Max Length" componentName="single-line-maxlength">
    <single-line-maxlength></single-line-maxlength>
  </fs-example>

  <fs-example title="Single Line with Change on Blur" componentName="single-line-blur">
    <single-line-blur></single-line-blur>
  </fs-example>

  <fs-example title="Multi-Line Input" componentName="multiline">
    <multiline></multiline>
  </fs-example>
</fs-examples>
