<fs-examples title="[Component Name]" githubUrl="https://github.com/Firestitch/[repo-name]" npmUrl="https://www.npmjs.com/package/@firestitch/[repo-name]">

  <!-- <div fs-examples-body>
    <div class="examples-h2">The H2 Heading</div>
    <div class="examples-h3">The H3 Heading</div>
    <p>This is some text that could go above, and maybe below</p>
  </div>

  <div fs-examples-install>
    <div class="examples-h2">The H2 Heading</div>
    <div class="examples-h3">The H3 Heading</div>
    <p>Install instructions</p>
  </div> -->

  <fs-example title="First Example" componentName="first-example">
      <first-example></first-example>
  </fs-example>
</fs-examples>

